@inject NavigationManager NavigationManager

<MatCard Style="@(IsListView ? "cursor: pointer" : "")" @onclick="Navigate">
    <MatCardContent>
        <MatBody2 Class="pl-1 my-2">
            <MatHeadline6 Class="m-0">@Item.Title</MatHeadline6>
        </MatBody2>
        <MatCardMedia Wide="true" ImageUrl="@Item.ImageUrl"></MatCardMedia>
        <MatBody2 Class="pl-1 pr-1">
            <div class="d-flex @(!IsListView && Item.HasAdditionalInformation ? "mb-4" : "")">
                <div style="width: 33%" class="text-center">
                    <div style="text-decoration: underline">Prep Time</div>
                    <div>@(Item.PrepTime?.ToString() ?? "?") Minutes</div>
                </div>
                <div style="width: 34%" class="text-center">
                    <div style="text-decoration: underline">Total Time</div>
                    <div>@(Item.TotalTime?.ToString() ?? "?") Minutes</div>
                </div>
                <div style="width: 33%" class="text-center">
                    <div style="text-decoration: underline">Servings</div>
                    <div>@(Item.Servings?.ToString() ?? "?")</div>
                </div>
            </div>
            @if (!IsListView && Item.HasAdditionalInformation)
            {
                if (!string.IsNullOrEmpty(Item.Introduction))
                {
                    <span class="mt-2">@Item.Introduction</span>
                }
                if (Item.Ingredients.Any())
                {
                    <MatList Class="p-0 mt-2">
                        <MatListItem>
                            <MatListItemText>
                                <MatListItemPrimaryText><b>Ingredients</b></MatListItemPrimaryText>
                                <MatListItemSecondaryText></MatListItemSecondaryText>
                            </MatListItemText>
                        </MatListItem>
                        <MatListDivider></MatListDivider>
                        @foreach (var ingredient in Item.Ingredients)
                        {
                            var primaryText = ingredient.Title;
                            if (ingredient.Amount.HasValue)
                            {
                                primaryText += $": {ingredient.Amount} {ingredient.UnitOfMeasure}";
                            }
                            <MatListItem Style="height: auto; min-height: 48px;">
                                <MatListItemText>
                                    <MatListItemPrimaryText Style="white-space: normal">@primaryText</MatListItemPrimaryText>
                                    <MatListItemSecondaryText Style="white-space: normal">@ingredient.AdditionalNotes</MatListItemSecondaryText>
                                </MatListItemText>
                            </MatListItem>
                        }
                    </MatList>
                }
            }
        </MatBody2>
    </MatCardContent>
</MatCard>

@code {
    [Parameter]
    public RecipeItem Item { get; set; }

    [Parameter]
    public bool IsListView { get; set; }

    public void Navigate()
    {
        if (IsListView)
        {
            NavigationManager.NavigateTo($"recipe/{Item.Title}");
        }
    }
}
